@keyframes progress {
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

.logo path {
  transition: all 0.2s ease-in-out;
}

svg[data-animate='true'] path {
  opacity: 0;
  animation: progress 6s ease-in-out infinite;
}

svg[data-animate='true'] path[data-index='0'] {
  animation-delay: 0s;
}

svg[data-animate='true'] path[data-index='1'] {
  animation-delay: 0.2s;
}

svg[data-animate='true'] path[data-index='2'] {
  animation-delay: 0.4s;
}

svg[data-animate='true'] path[data-index='3'] {
  animation-delay: 0.6s;
}

svg[data-animate='true'] path[data-index='4'] {
  animation-delay: 0.8s;
}

svg[data-animate='true'] path[data-index='5'] {
  animation-delay: 1s;
}

svg[data-animate='true'] path[data-index='6'] {
  animation-delay: 1.2s;
}

svg[data-animate='true'] path[data-index='7'] {
  animation-delay: 1.4s;
}

svg[data-animate='true'] path[data-index='8'] {
  animation-delay: 1.6s;
}

svg[data-animate='true'] path[data-index='9'] {
  animation-delay: 1.8s;
}

svg[data-animate='true'] path[data-index='10'] {
  animation-delay: 2s;
}

svg[data-animate='true'] path[data-index='11'] {
  animation-delay: 2.2s;
}

svg[data-animate='true'] path[data-index='12'] {
  animation-delay: 2.4s;
}

svg[data-animate='true'] path[data-index='13'] {
  animation-delay: 2.6s;
}

.app {
  max-width: 320px;
}

.slogan {
  color: #888;
  text-transform: uppercase;
}

.name {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin: 0;

  > span {
    font-weight: 400;
    color: #888;
  }
}
